body{
    background: url(homelunch.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
}

.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.nav-link:hover{
    color: black;
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgba(248,26,92);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgba(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
}

/* Main Checkout Container */
.container {
    padding-top: 20px;
}

/* Form Controls */
input[type="text"], button, .btn {
    margin-top: 0px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Buttons */
#placeOrder, #applyPromoCode {
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}


.cart-item {
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 10px;
}

.item-image img {
border-radius: 4px;
}

.item-details {
flex-grow: 1;
margin-left: 15px;
}

.item-title, .item-info {
margin: 0;
}

.quantity-input {
text-align: center;
}

.remove-item {
font-size: 14px;
padding: 5px 10px;
}

/* --Footer-- */
footer{
    padding-bottom: 10px;
    text-align: center;
}